{{ define "title" }}About{{ end }}

{{ define "main" }}
  <section class="about">
    <h2>About</h2>
    <p>
      A website for storing all your contacts. Written in Go, using Postgresql
      and HTML templates from html/template. The application is mostly derived
      from Alex Edwards' excellent books,
      <a href="https://lets-go.alexedwards.net/">Let's Go</a> and
      <a href="https://lets-go-further.alexedwards.net/">Let's Go Further</a>.
    </p>
    <p>
      This is a work in progress. The intention is to build out the basic
      application along the lines of the Snippetbox app from Let's Go, but using
      postgresql instead of mysql, and separating the authentication and
      authorization logic into a separate module.
    </p>
  </section>
{{ end }}
