{{ define "title" }}Edit Contact{{ end }}

{{ define "main" }}
  <form class="flex-column" action="/contacts/edit/{{ .Contact.ID }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
    <input type="hidden" name="id" value="{{ if .Form.ID }}{{ .Form.ID }}{{ else }}{{ .Contact.ID }}{{ end }}">
    <input type="hidden" name="version" value="{{ if .Form.Version }}{{ .Form.Version }}{{ else }}{{ .Contact.Version }}{{ end }}">
    <label for="first-input">
      First name:
      {{ with .Form.FieldErrors.first }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input
        id="first-name-input"
        name="first"
        type="text"
        value="{{ if .Form.First }}{{ .Form.First }}{{ else }}{{ .Contact.First }}{{ end }}"
      />
    </label>
    <label for="last-name-input">
      Last name:
      {{ with .Form.FieldErrors.last }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input id="last-name-input" name="last" type="text" value="{{ if .Form.Last }}{{ .Form.Last }}{{ else }}{{ .Contact.Last }}{{ end }}">
    </label>

    <label for="phone-input">
      Phone number:
      {{ with .Form.FieldErrors.phone }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input id="phone-input" name="phone" type="text" value="{{ if .Form.Phone }}{{ .Form.Phone }}{{ else }}{{ .Contact.Phone }}{{ end }}">
    </label>

    <label for="email-input">
      Email:
      {{ with .Form.FieldErrors.email }}
        <span class="error">{{ . }}</span>
      {{ end }}
      <input id="email-input" name="email" type="text" value="{{ if .Form.Email }}{{ .Form.Email }}{{ else }}{{ .Contact.Email }}{{ end }}">
    </label>

    </fieldset>
    <input type="submit" value="Update contact" />
  </form>
{{ end }}
