{{ define "title" }}Home{{ end }}

{{ define "main" }}
  <h2>Your Contacts</h2>
  {{ if .Contacts }}
    <table>
      <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th>ID</th>
      </tr>
      {{ range .Contacts }}
        <tr>
          <td>
            <a href="/contacts/view/{{ .ID }}">{{ .First }}</a>
          </td>
          <td>
            <a href="/contacts/view/{{ .ID }}">{{ .Last }}</a>
          </td>
          <td>{{ .Phone }}</td>
          <td>{{ .Email }}</td>
          <td>{{ .ID }}</td>
        </tr>
      {{ end }}
    </table>
  {{ else }}
    <p>There's nothing to see here... yet!</p>
  {{ end }}
{{ end }}
