{{ define "title" }}Contact #{{ .Contact.ID }}{{ end }}

{{ define "main" }}
  {{ with .Contact }}
    <article class="contact">
      <h2>{{ .First }} {{ .Last }}</h2>
      <dl>
        <div>
          <dt>Phone:</dt>
          <dd>{{ .Phone }}</dd>
        </div>
        <div>
          <dt>Email:</dt>
          <dd>{{ .Email }}</dd>
        </div>
      </dl>
    </article>
  {{ end }}
{{ end }}
