{{ define "title" }}Contact #{{ .Contact.ID }}{{ end }}

{{ define "main" }}
  {{ if .DeleteForm }}
    <form
      class="flex-column delete-form"
      method="POST"
      action="/contacts/delete/{{ .Contact.ID }}"
    >
      <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />
      <button type="submit" autofocus>Delete contact?</button>
    </form>
  {{ end }}
  {{ with .Contact }}
    <article class="contact">
      <h2>{{ .First }} {{ .Last }}</h2>
      <dl>
        <div>
          <dt>Phone:</dt>
          <dd>{{ .Phone }}</dd>
        </div>
        <div>
          <dt>Email:</dt>
          <dd>{{ .Email }}</dd>
        </div>
      </dl>
    </article>
  {{ end }}
{{ end }}
