textarea,
input:not([type="submit"]) {
  font-size: 18px;
  font-family: "Ubuntu Mono", monospace;
}

a.button,
input[type="submit"] {
  background-color: var(--button);
  border-radius: 3px;
  color: #ffffff;
  padding: 18px 27px;
  border: none;
  display: inline-block;
  margin-top: 18px;
  font-weight: 700;
}

a.button:hover,
input[type="submit"]:hover {
  background-color: var(--button-hover);
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

form div {
  margin-bottom: 18px;
}

form div:last-child {
  border-top: 1px dashed #e4e5e7;
}

form input[type="radio"] {
  margin-left: 18px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  padding: 0.75em 18px;
  width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
textarea {
  color: #6a6c6f;
  background: #ffffff;
  border: 1px solid #e4e5e7;
  border-radius: 3px;
}

form label {
  display: inline-block;
  margin-bottom: 9px;
}

button {
  background: none;
  padding: 0;
  border: none;
  color: rgba(56, 115, 175, 0.7);
  text-decoration: none;
}

button:hover {
  background-color: var(--button-hover);
  text-decoration: underline;
  cursor: pointer;
}

.error {
  color: #c0392b;
  font-weight: bold;
  display: block;
}

/* Including form in the selector increases specificity to allow overriding 
the existing input styles without using !important */
form .error + textarea,
form .error + input {
  border-color: #c0392b;
  border-width: 2px;
}

.radio-buttons {
  display: flex;
}
