.header {
  box-shadow: 1px 1px 3px var(--shadow);
  background-color: var(--background-main);
  overflow: auto;
  padding-top: 33px;
  padding-bottom: 54px;
  text-align: center;
}

.header h1 {
  margin-bottom: 27px;
}

.header h1 a {
  font-size: 36px;
  font-weight: bold;
  height: 36px;
  position: relative;
  color: var(--text-main);
}

.header h1 a:hover {
  color: var(--text-grey);
}
